*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ======== Common ========= */
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clear{
    clear: both;
}
.section-header{
    padding: 30px;
}
.section-header h2{
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.section-header .underline{
    height: 2px;
    width: 100px;
    display: block;
    margin: auto;
    background-color: #7b5244;
    transition: width 0.3s;
}
.section-header:hover .underline{
    width: 140px;
}
body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* ======== Header Section ======== */
header .container{
    padding: 40px 0;
}
header img{
    float: left;
}
header nav{
    float: left;
    margin-left: 6px;
}
header nav ul li{
    display: inline-block;
    margin: 10px 5px;
    position: relative;
    padding: 7px;
}
header nav ul li::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    transition: 0.2s;
}
header nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    transition: 0.2s;
}
header nav ul li::before{
    border-left: 2px solid #7b5244;
    border-right: 2px solid #7b5244;
    transform: scale3d(1,0,1);
}
header nav ul li:hover::before{
    transform: scale3d(1,1,1);
}
header nav ul li::after{
    border-top: 2px solid #7b5244;
    border-bottom: 2px solid #7b5244;
    transform: scale3d(0,1,1);
    transform-origin: left;
    transition-delay: 0.2s;
}
header nav ul li:hover::after{
    transform: scale3d(1,1,1);
}
header nav ul li a{
    display: inline-block;
    font-size: 1.2rem;
    color: #7b5244;
}
header nav ul .icon{
    font-size: 25px;
    margin: 5px;
}
header nav ul span.num{
    background-color: #7b5244;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 6px;
}
header nav ul span{
    font-weight: bold;
    position: relative;
    top: 6px;
}
/* Drop Menu */
header nav ul>li table{
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 2px solid #7b5244;
    color: #7b5244;
    padding: 20px;
    width: 470px;
    transform: scale(0);
    visibility: hidden;
    transition: transform 0.5s;
}
header nav ul>li:hover table{
    transform: scale(1);
    visibility: visible;
}
header nav ul>li table thead td{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #7b5244;bord
}
header nav ul>li table tr{
    display: block;
    margin-bottom: 10px;
}
header nav ul>li table td{
    display: inline-block;
    /* margin-right: 10px; */
    width: 130px;
    text-align: left;
}
/* ======== Main Section ======== */
.main img{
    width: 100%;
}
/* ======== Special category Section ======== */
.categories .catg{
    width:24%;
    float: left;
}
.categories .catg img{
    width:100%;
}
.categories .catg div{
    margin: 15px 0;
    position: relative;
}
.categories .catg2{
    margin: 0 1.3%;
}
.categories .catg3{
    margin: 0 1.3% 0 0;
}
.categories .catg span{
    color: gray;
    text-transform: capitalize;
}
.categories .catg h3{
    text-transform: capitalize;
    font-size: 19px;
}
.categories .catg i{
        font-size: 30px;
        height: 30px;
        text-align: center;
        width: 30px;
        color: #fff;
        right: 0;
        position: absolute;
        bottom: 0;
        background: brown;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s;
}
.categories .catg:hover i{
    visibility: visible;
    opacity: 1;
}
/* ======== Details Section ======== */
.details{
    margin: 10px 0;
}
.details .paragraph {
    float: left;
    width: 50%;
    background-color: #f7f3ef;
    padding: 25px;
    position: relative;
    height: 300px;
}
.details .paragraph i{
    position: absolute;
    left: px;
    top: 25px;
    font-size: 50px;
    color: #7b5244;
}
.details .paragraph h2,
.details .paragraph h6{
    margin-left: 60px;
}
.details .paragraph h6{
    letter-spacing: 2px;
}
.details .paragraph p{
    margin: 20px 0 40px 0;
    line-height: 30px;
    font-size: 16px;
}
.details .paragraph span{
    width: 50px;
    background-color: #7b5244;
    height: 2px;
    display: inline-block;
    float: right;
    margin: 0 10px;
}
.details .discount {
    background-image: url(../images/cms-banner-1.jpg);
    float: left;
    width: 23%;
    height: 300px;
    background-size: cover;
    transition: transform 0.5s;
}
.details .discount span{
    position: relative;
    top: 30px;
    left: 15px;
    color: #7b5244;
}
.details .discount h3{
    position: relative;
    top: 30px;
    left: 15px;
}
.details .discount:hover {
    transform: scale(1.1,1.1);
}
.details .discount1 {
    background-image: url(../images/cms-banner-1.jpg);
    margin: 0 2%;
}
.details .discount2 {
    background-image: url(../images/cms-banner-2.jpg);
}
/* sprite */
.sprite-item{
    text-transform: capitalize;
    width: 20%;
    float: left;
    text-align: center;
    border-right: 1px solid #7b5244;
    margin: 30px 0;
}
.sprite-item:last-child{
    border: none;
}
.sprite-item span{
    font-size: 15px;
    color: gray;
}
.sprite-item .icon{
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;
    height: 55px;
}
.sprite-item .icon1{
    background-position: center 5px;
    transition: background-position .5s;
}
.sprite-item:hover .icon1{
    background-position: center -86px;
}
.sprite-item .icon2{
    background-position: center -180px;
    transition: background-position .5s;
}
.sprite-item:hover .icon2{
    background-position: center -273px;
}
.sprite-item .icon3{
    background-position: center -366px;
    transition: background-position .5s;
}
.sprite-item:hover .icon3{
    background-position: center -455px;
}
.sprite-item .icon4{
    background-position: center -549px;
    transition: background-position .5s;
}
.sprite-item:hover .icon4{
    background-position: center -639px;
}
.sprite-item .icon5{
    background-position: center -734px;
    transition: background-position .5s;
}
.sprite-item:hover .icon5{
    background-position: center -826px;
}
/* Featured Products */
.Products .section-header h2{
    margin-top: 30px;
}
.Products .dep ul {
    text-align: center;
}
.Products .dep li {
    display: inline-block;
    margin: 10px 20px;
}
.product-items{
    margin-top: 30px;
}
.Products .product{
    float: left;
    margin: auto;
    width: 32%;
    position: relative;
    
}
.Products .product img{
    width: 100%;
}
.Products .product .product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    transform: rotateY(90deg);
    transition: 0.2s;
}
.Products .product:hover .product-overlay{
    transform: rotateY(0);
}
.Products .product .product-overlay ul{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.Products .product .product-overlay ul li{
    display: inline-block;
    background-color: #7b5244;
    padding: 10px;
}
.Products .product .product-overlay ul li i{
    color: #fff;
    display: inline;
    font-size: 20px;
}
.Products .product-mg{
    margin-left: 2%;
    margin-right: 2%;
}
.Products .product .info i.active{
    color: yellow;
    margin-top: 10px;
}
.Products .product .info span{
    display: block;
    margin: 5px 0;
}
